/* General Styling */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link{
  text-decoration: none;
  color: white;
  font-family: 'Lora', serif;
  letter-spacing: 1px;
}

.para{
  color: #555555;
  letter-spacing: 1px;
  font-family: 'Source Sans Pro', sans-serif;
}

span{
  color: #3AAFA9;
}


.btn{
  width: 8.125rem;
  height: 2.188rem;
  background-color: #3AAFA9;
  border: 0;
  margin-top: 2.5rem;
  border-radius: 0.188rem;
  color: white;
}



/* navigation bar */
.nav{
  background-color: #3AAFA9;
  border-radius: 0 0 0 1.25rem;

}

.nav-brand{
  padding-top: 0.938rem;
  padding-left: 0.938rem;
  font-family: 'Lora', serif;
  letter-spacing: 1px;
}

.nav-list{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-listItem{
  list-style-type: none;
  margin: 0.938rem 3.75rem 1.563rem 0;
}



/* Header */
.hero{
  text-align: center;
  padding: 0.625rem;
  margin-bottom: 5rem;
}

header img {
  min-height: 23.75rem;
  margin-bottom: 1.25rem;
}

.main-heading{
  margin: 1.25rem auto 1.875rem;
  color: #687980;
  font-family: 'Lora', serif;
  letter-spacing: 1px;
}




/* Skill Section */
.skill{
  min-height: 43.75rem;
  text-align: center;
  background-color: #DEF2F1;
}

.skill-heading{
  padding: 3.125rem 0 0.625rem;
  font-family: 'Lora', serif;
  color: #444444;
  letter-spacing: 1px;
}

.icons{
  width: 55%;
  margin: 0.625rem auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.icon{
  width: 4.375rem;
  height: 3.75rem;
  margin: 3.125rem 3.563rem;
  text-align: center;
}

.icon-subHeading{
  margin-bottom: 2.813rem;
  font-size: 0.875rem;
}

.icon-text{
  font-family: 'Lora', serif;
  letter-spacing: 1px;
  font-size: 0.938rem;
  color: #444444;
}




/* Tools Section */
.tools{
  min-height: 34.375rem;
  text-align: center;
}

.tools-heading{
  padding: 3.125rem 0 0.625rem;
  font-family: 'Lora', serif;
  color: #444444;
  letter-spacing: 1px;
}

.icon-tool{
  width: 4.375rem;
  min-height: 3.75rem;
  margin: 3.125rem;
  text-align: center;
}


.icon-img{
  width: 3rem;
  height: 3rem;
}



/* Project section */
.project{
  min-height: 16.875rem;
  text-align: center;
  background-color: #DEF2F1;
}

.project-heading{
  padding: 3.125rem 0 1.563rem;
  font-family: 'Lora', serif;
  color: #444444;
  letter-spacing: 1px;
}



/* Blogs section */
.blog{
  min-height: 16.875rem;
  text-align: center;
}

.blog-heading{
  padding: 3.125rem 0 1.563rem;
  font-family: 'Lora', serif;
  color: #444444;
  letter-spacing: 1px;

}


/* footer */
.footer{
  min-height: 9.375rem;
  text-align: center;
  background-color: #3AAFA9;
  color: white;
  border-radius: 0 1.25rem 0 0;
}

.footer-heading{
  padding: 3.125rem 0 0.938rem;
  font-family: 'Lora', serif;
  letter-spacing: 1px;
  font-size: 1.375rem;
}

.footer-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-listItem{
  list-style-type: none;
  padding-left: 0.625rem;
}

.footer-listLink{
  font-family: 'Source Sans Pro', sans-serif;
}
