/* General Styling */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link{
  text-decoration: none;
  color: white;
  font-family: 'Lora', serif;
  letter-spacing: 1px;
}

.para{
  color: #555555;
  letter-spacing: 1px;
  font-family: 'Source Sans Pro', sans-serif;
}

span{
  color: #3AAFA9;
}


.btn{
  width: 130px;
  height: 35px;
  background-color: #3AAFA9;
  border: 0;
  margin-top: 40px;
  border-radius: 3px;
  color: white;
}



/* navigation bar */
.nav{
  background-color: #3AAFA9;
  border-radius: 0px 0px 0px 20px;

}

.nav-brand{
  padding-top: 15px;
  padding-left: 15px;
  font-family: 'Lora', serif;
  letter-spacing: 1px;
}

.nav-list{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-listItem{
  list-style-type: none;
  margin: 15px 60px 25px 0px;
}



/* Header */
.hero{
  text-align: center;
  padding: 10px;
  margin-bottom: 80px;
}

header img {
  height: 380px;
  margin-bottom: 20px;
}

.main-heading{
  margin: 20px auto 30px;
  color: #687980;
  font-family: 'Lora', serif;
  letter-spacing: 1px;
}
