/* General Styling */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link{
  text-decoration: none;
  color: white;
  font-family: 'Lora', serif;
  letter-spacing: 1px;
}

.para{
  color: #555555;
  letter-spacing: 1px;
  font-family: 'Source Sans Pro', sans-serif;
}

span{
  color: #3AAFA9;
}


.btn{
  width: 130px;
  height: 35px;
  background-color: #3AAFA9;
  border: 0;
  margin-top: 40px;
  border-radius: 3px;
  color: white;
}
