*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* Header */
._hero{
  text-align: center;
  margin: 3rem;
  padding: 2.5rem;
}

._heading{
  font-size: 2.25rem;
  color: #687980;
  font-family: 'Lora', serif;
  letter-spacing: 0.063rem;
}


/* project section */
._project-listItem{
  width: 100vw;
  
}

._project{
width: 70vw;
  padding: 1.25rem 0;
  margin: 0 auto;

}

._projectHeading{
  margin: 1.25rem 0;
  font-family: 'Lora', serif;
  letter-spacing: 0.063rem;
  color: #656565;
}



._date{
  display: block;
  margin: 0.75rem 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #687980;
}

._btn1{
  display: block;
  width: 8.125rem;
  height: 2.188rem;
  background-color: #3AAFA9;
  border: 0;
  border-radius: 0.188rem;
  color: white;
  margin: 1.375rem 0 1rem;

}

._btn2{
  display: block;
  width: 8.125rem;
  height: 2.188rem;
  background-color: white;
  border: 0.063rem solid #3AAFA9;
  border-radius: 0.188rem;
  color: #3AAFA9;
}

._paragraph{
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 0.063;
  color: #687980;
}
